<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="xpeg_count_project.XpegCountSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="xpeg_count_project.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <xpeg_count_project.XpegCountSettings>
      <setting name="FirstUse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConfirmClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoTabInCalendar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChangeStatusInXBeforeDays" serializeAs="String">
        <value>5</value>
      </setting>
    </xpeg_count_project.XpegCountSettings>
    <xpeg_count_project.My.MySettings>
      <setting name="SOFTWARE_Version" serializeAs="String">
        <value>2.0.0.0</value>
      </setting>
      <setting name="showStatusOption" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="oldUser" serializeAs="String">
        <value>False</value>
      </setting>
    </xpeg_count_project.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>